/bashrc/*
/gtk-3.0/*
/gtk-4.0/*
/kitty/*
/nvim/*
/matugen/*
/ml4w/*
/nwg-dock-hyprland/*
/ohmyposh/*
/qt6ct/*
/rofi/*
/sidepad/*
/swaync/*
/vim/*
/waypaper/*
/wlogout/*
/xsettingsd/*
/zshrc/*
chromium-flags.conf
edge-flags.conf